.addressWrapper {
  width: 33.33%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #edf2f7;
}
.addressTitle .title {
  font-size: 30px;
  font-weight: bold;
  margin: -10px 0;
}
.addressTitle .subtitle {
  font-size: 20px;
}
.addressTableWrapper {
  max-height: 60%;
  max-width: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 10px 0;
}
.subtitleSmaller {
  font-size: 15px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.inputFieldWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 900px) {
  .addressWrapper {
    width: 100%;
  }
}
